saves/
journeymap/
logs/
hats/
crash-reports/
mods/
screenshots/
minetweaker.log
mputils/
icon.png
options.txt
usernamecache.json
asm/
*.dll
SVLib.log
SquidAPI/
1213309934
usercache.json
wirelessRedstone.log
tipcache.dat
stats/
servers.dat
.curseclient
minecraftinstance.json
fonts/
